.ag-format-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  width: 1142px;
  margin: 0 auto;
  padding: 50px 0;
}

.ag-courses_item {
  overflow: hidden;
  border-radius: 28px;
}

.ag-courses-item_link {
  display: block;
  padding: 30px 20px;
  background-color: #033441;
  position: relative;
  overflow: hidden;
  transition: background-color .5s ease;  
  text-decoration: none;
}

 
.ag-courses-item_link:hover .ag-courses-item_bg {
  transform: scale(10);
  transition: transform .5s ease;
}

.ag-courses-item_title {
  min-height: 87px;
  margin: 0 0 25px;
  font-weight: bold;
  font-size: 30px;
  color: #FFF;
  position: relative;
  z-index: 2;
}

.ag-courses-item_bg {
  height: 128px;
  width: 128px;
  border-radius: 50%;
  position: absolute;
  top: -75px;
  right: -75px;
  z-index: 1;
  transition: transform .5s ease;  
}

 

@media only screen and (max-width: 979px) {
  .ag-format-container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }

  .ag-courses-item_title {
    font-size: 24px;
    line-height: 1.3;
  }
}

@media only screen and (max-width: 639px) {
  .ag-format-container {
    width: auto;
    grid-template-columns: 1fr;
    /* gap: 15px; */
    padding: 20px;
  }

  .ag-courses-item_title {
    min-height: auto;
    /* line-height: 1; */
    font-size: 20px;
    margin: 0 0 15px;
  }

  .ag-courses-item_link {
    padding: 20px 15px;
  }
}

.bg-color-1 { background-color: #f9b234; }
.bg-color-2 { background-color: #3ecd5e; }
.bg-color-3 { background-color: #e44002; }
.bg-color-4 { background-color: #952aff; }
.bg-color-5 { background-color: #cd3e94; }
.bg-color-6 { background-color: #4c49ea; }
